[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jellyfisher"]
	path = jellyfisher
	url = https://github.com/hautaniemilab/jellyfisher
